Desktop/
Documents/
Downloads/
Pictures/
VirtualBox VMs/
virtual_setup
work
.ssh/
.steam/
.steampath
.steampid
.mozilla/
.node_repl_history
.pki/
.pulse-cookie
.pylint.d/
.python_history
.python_history-04744.tmp
.gitconfig
.docker/
.mozilla/
.viminfo
tags*

.dmrc
.face
.fehbg
.fltk/
.fzf.bash
.fzf.zsh
.gitkraken/
.gnome/
.gnupg/
.gtkrc-2.0
.lesshst
.local/
.screenrc
.slime_paste
.vscode-oss/
.xinitrc
.xsession
.xsession-errors
.xsession-errors.old
.xsessionrc

.conkyrc
.cache
