Desktop/
Documents/
Downloads/
Pictures/
VirtualBox VMs/
virtual_setup
work
.ssh/
.steam/
.steampath
.steampid
.mozilla/
.node_repl_history
.pki/
.pulse-cookie
.pylint.d/
.python_history
.python_history-04744.tmp
.gitconfig
.docker/
.mozilla/
.viminfo
tags*

.dmrc
.face
.fehbg
.fltk/
.fzf.bash
.fzf.zsh
.gitkraken/
.gnome/
.gnupg/
.gtkrc-2.0
.lesshst
.local/
.screenrc
.slime_paste
.vscode-oss/
.xinitrc
.xsession
.xsession-errors
.xsession-errors.old
.xsessionrc

.conkyrc
.cache

.config/Code - OSS/
.config/GIMP/
.config/GitKraken/
.config/Kvantum/
.config/QtProject.conf
.config/Thunar/
.config/Trolltech.conf
.config/VirtualBox/
.config/arcolinux-welcome-app/
.config/arcologout/
.config/ardour6/
.config/autostart/
.config/cef_user_data/
.config/chromium/
.config/coc/
.config/conky/
.config/dconf/
.config/dolphin-emu/
.config/dolphinrc
.config/fontconfig/
.config/galculator/
.config/gtk-2.0/
.config/gtk-3.0/
.config/guitarix/
.config/htop/
.config/kde.org/
.config/kdeglobals
.config/kiorc
.config/knfsshare
.config/kservicemenurc
.config/libaccounts-glib/
.config/menus/
.config/mimeapps.list
.config/nano/
.config/neofetch/
.config/nitrogen/
.config/nomacs/
.config/pamac/
.config/pavucontrol.ini
.config/pulse/
.config/qt5ct/
.config/session/
.config/spotify/
.config/termite/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/volumeicon/
.config/xfce4/
.config/yad.conf

.bash_history

Documents/Wallpapers
.Xauthority
